
<div id="game"></div>

<div id="infobox-intro" class="infobox">
	<h2>Welcome to my simple game using THREE.js and CANNON.js!</h2>
	<p>You can control the player vechile by using the follow keys:</p>
	<p>W &rarr; Forward<br />S &rarr; Backward<br />A &rarr; Left<br />D &rarr; Right<br />SPACE &rarr; Jump</p>
	<p>SURVIVE!</p>
</div>

<script src="../js/libs/stats.min.js"></script>

<script src="../js/libs/detector.js"></script>
<script src="../js/libs/three.js"></script>
<script src="../js/libs/cannon.js"></script>

<script src="../js/game/game.static.js"></script>
<script src="../js/game/game.three.js"></script>
<script src="../js/game/game.cannon.js"></script>
<script src="../js/game/game.events.js"></script>
<script src="../js/game/game.helpers.js"></script>
<script src="../js/game/game.ui.js"></script>
<script src="../js/game/game.core.myDemo.js"></script>
<script src="../js/game/game.models.js"></script>
<script src="../js/game/init.js"></script>
