.homepage-background {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -15; }

h1, h2, h3, h4, h5, h6 {
  font-family: Impact, Charcoal, sans-serif; }

.btn {
  font-family: "Lucida Console", Monaco, monospace; }

.login {
  text-align: center;
  margin-top: 10%;
  margin-left: 3em;
  font-size: 1.75em;
  position: absolute;
  background-color: #303344;
  width: 300px; }
  .login .btn {
    margin-top: 10px; }
  .login .non-user-play {
    position: relative;
    font-size: 1em;
    display: block;
    margin: 1.5em auto 0; }
  .login .form-group {
    margin-top: 0.5em; }

.init-signup {
  display: block;
  text-align: center;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.5em; }
  .init-signup .btn {
    margin: 0.6em auto; }

.no-login-info {
  font-size: 0.5em;
  color: white; }

label {
  color: white;
  font-weight: 500; }

input {
  font-size: 14px;
  padding: 3px 10px; }

.title {
  color: cyan;
  font-size: 70px;
  position: absolute;
  left: 1.25em; }
